/* PHASE 5: Cats */

.content-header {
  width: 100%;
  height: 200px;
  background-image: url("/Users/appacademy/Desktop/w5d5/css-friends-05/skeleton/images/cats.jpg");
  background-size: cover;
  border-bottom: 1px solid #ccc;
  position: relative;
}

.content-header h1 {
  color: #fff;
  font-size: 36px;
  font-weight: 300;
  text-shadow: -2px 0px #ccc;
  position: absolute;
  top: 140px;
  left: 240px;
}

.content-header-add-friend {
  padding: 10px 23px;
  background: #fff;
  border: 1px solid black;
  border-radius: 7px;
  font-weight: 700;
  position: absolute;
  bottom: 20px;
  right: 20px;
}
